Repository voxpupuli/puppet-consul, pull requests merged in 2022-08, with the labels that each got.

#597 Service and Nodemeta for queries
  README.md
  lib/puppet/provider/consul_prepared_query/default.rb
  lib/puppet/type/consul_prepared_query.rb
  spec/unit/puppet/type/consul_prepared_query_spec.rb
Labels: enhancement

#601 modulesync 5.3.0
  .msync.yml
  .rubocop.yml
  Gemfile
  spec/spec_helper.rb
  spec/spec_helper_local.rb
Labels: modulesync

#602 Release 7.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
