Repository voxpupuli/puppet-consul, pull requests merged in 2023-10, with the labels that each got.

#641 fixed systemd err "Failed to parse service type, ignoring: exec"
  manifests/config.pp
  templates/consul.systemd.epp
Labels: bug

#637 Update default consul version 1.2.3->1.16.1
  REFERENCE.md
  manifests/init.pp
  spec/acceptance/class_spec.rb
  spec/classes/init_spec.rb
Labels: backwards-incompatible

#646 Add AlmaLinux/Rocky support
  REFERENCE.md
  manifests/init.pp
  metadata.json
  spec/acceptance/class_spec.rb
  spec/classes/init_spec.rb
Labels: enhancement

#643 Update default version 1.16.1->1.16.3
  REFERENCE.md
  manifests/init.pp
  spec/acceptance/class_spec.rb
  spec/classes/init_spec.rb
Labels: backwards-incompatible

#642 Release 8.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
