Repository voxpupuli/puppet-consul, pull requests merged in 2024-03, with the labels that each got.

#654 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync

#656 Allow to install consul through local archive files
  REFERENCE.md
  manifests/init.pp
Labels: enhancement

#655 use X-Consul-Token header instead of token query parameter
  REFERENCE.md
  lib/puppet/provider/consul_acl/default.rb
  lib/puppet/provider/consul_key_value/default.rb
  lib/puppet/provider/consul_prepared_query/default.rb
  lib/puppet/type/consul_acl.rb
  lib/puppet/type/consul_key_value.rb
  lib/puppet/type/consul_prepared_query.rb
  spec/unit/puppet/provider/consul_key_value_spec.rb
Labels: enhancement

#658 `init.pp`: Fix `manage_repo` param docstring, replaced nomad with consul
  REFERENCE.md
  manifests/init.pp
Labels: docs
